GITHUB_TOKEN=

SECRET_KEY=AVerySecretKeyIndeed

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# IMPORTANT: This must be set as an actual environment variable so it can be correctly passed as an argument
# export REACT_APP_METAGENSCOPE_SERVICE_URL=http://emptyfish.net
