SECRET_KEY=AVerySecretKeyIndeed

RABBITMQ_DEFAULT_USER=metagenscope
RABBITMQ_DEFAULT_PASS=metagenscope

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

MONGO_INITDB_ROOT_USERNAME=metagenscope
MONGO_INITDB_ROOT_PASSWORD=metagenscope

# IMPORTANT: The web client will default to the the same scheme, host, and port
# it was accessed on if this is left empty. In most cases this is what you want!
export REACT_APP_METAGENSCOPE_SERVICE_URL=
